html {
    height: 100vh;
}
:root { --main-font-family: Manrope,sans-serif;
    --header-color: rgb(40, 8, 47);
    --border-color: rgb(54, 6, 65);
    --shadow-color: rgb(91, 54, 100);


}

body {
background: linear-gradient(45deg, #cb98d7 0%, #8ee3f6 100%) fixed;
height: 100vh;
display: flex;
flex-direction: column; 
gap: 0;
font-family: var(--main-font-family);
font-size: 1.3rem;
letter-spacing: -.01em;
margin:0;

}
nav ul, .contacts__content {
    list-style-type: none;
    margin: 0;
    margin-top: -10px;
    padding: 0;
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    margin-right: 60px; 
    margin-top: 10px; 
    
    
}
.contacts {
    height: 550px;
    margin-top: 100px;
    
}
.contacts__content {
    margin-right: 60px;
    margin-left: 60px;
    gap: 100px;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 23px;
}

#picture {
    height: auto;
    width: 80%;
    margin-left: 10px;
    border-radius: 300px;
    margin-right: 0px;
    min-width: 250px;

    
}
.about__picture {
  
flex-basis: 60%;

    
}
.about__text {

flex-basis: 110%;



}
#about {
    display: flex;
    align-items: center;
    padding-top: 150px;
    margin-right: 10%; 
    margin-bottom: 240px; 
    margin-left: 5%; 
    gap: 10px;
   
}



h1 {
    font-size: 45px;
    text-transform: uppercase;
    font-family: Coolvetica,sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--header-color);
}

h4 {
    font-size: 29px;
    font-family: Coolvetica,sans-serif;
    font-weight: 600;
    margin-top: 0;
}
section {
    margin-top: 50px;
}
hr {
    margin-top: 150px;
    border: 2px solid var(--border-color);
    margin-left: 90px;
    margin-right: 90px;

}

.vertical-line {
    width: 4px;
    height: 600px;
    background-color: var(--border-color);
    border: var(--border-color);
    

    
}

.title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 70px;
    color: var(--header-color);
}


h5 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 22px;
    color: var(--border-color);
    
}


a {
    text-decoration: none;
    color: var(--border-color);
   
}
a:hover {
    text-decoration: underline;
    font-size: 1.4rem;
   }

.reveal {
    position: relative;
    opacity: 0;
  }
  .reveal.active {
    opacity: 1;
  }
  .active.fade-bottom {
    animation: fade-bottom 1s ease-in;
  }
  .active.fade-left {
    animation: fade-left 1s ease-in;
  }
  .active.fade-right {
    animation: fade-right 1s ease-in;
  }

  @keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }




